/* =============
    Typography
============= */
body{
    font-family: 'Bitter', serif;
}

h1,h2,h3,h5{
    margin: 0;
    padding: 0;
}

p {
    line-height: rem-calc(15);
    font-size: rem-calc(15);
} 