/* =============
    Section 1
============= */
#section-1 {
    background-image: url('../img/section-1/Cliff_In_Ireland.jpg');
    background-position: center;
    background-size: cover;
    color: $green;
    height: 510px;
    text-align: left;
    padding: 60px;
    font-size: larger;
    
    @include md {
        height: 510px;
    }

    @include lg {
        height: 680px;
    }
    

}